
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;

}

:root{
    --preto: #000000ff;
    --cinza-escuro: #66666eff;
    --cinza: #9999a1ff;
    --cinza-claro: #e6e6e9ff;
    --branco: #f4f4f6ff;
    --fonte-titulo:Whisper, cursive;
    --fonte-titulo:Open Sans, sans-serif;
}

body{
    background-color: var(--verde);
    color: var(--violeta);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}
